.recipe-section{
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 55, 55);
    margin: 20px;
    box-shadow: 2px 4px 8px #000000;
    min-width: 30%;
    max-width: 30%;
    height: auto;
    font-style: oblique;
}
.recipe-title{
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid rgba(201, 201, 201, 0.514);
    color: white;
}
.recipe-image{
    width: 90%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px #00000030;
    border: none;
    border-radius: 5px;
    object-fit: cover;
}
.recipe-attributes{
    padding-left: 10px;
    font-size: 16px;
    color: white;
    padding-left: 2em;
    padding-right: 2em;

}
.recipe-update-button{
    color: white;
    background-color: rgba(253, 202, 62, 0.918);
    border: none;
    width: 100%;
    padding: 10px;
    margin-bottom:10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;


}
.recipe-update-button:hover{
  background-color: rgba(250, 192, 33, 0.918);
 }
 .recipe-delete-button{
    color: white;
    background-color: rgba(253, 62, 62, 0.918);
    border: none;
    width: 100%;
    padding: 10px;
    margin-bottom:10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
 }
 .recipe-delete-button:hover{
    background-color: rgba(253, 31, 31, 0.918);
   }
   .recipe-detail{
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding:10px;
    background-color: blue;
    margin-bottom: 10px;
    text-align: center;
    border: none;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
   }