
.update-recipe-form{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(109, 109, 109);
    box-shadow: 0 5px 10px black;
}
.update-recipe-title{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color:white;
    text-shadow: 1px 1px 1px #ffffff;
    border-bottom: 1px solid #ffffff40;
}
.update-recipe-input{
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.update-recipe-textarea{
    border: none;
    resize: none;
    height: 140px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.update-recipe-nutrition{
    display: flex;
    flex-direction: column;
    background-color: rgb(81, 81, 81);
    border-radius: 10px;
    padding:10px;
}
.update-recipe-button{
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgb(236, 232, 8);
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
.update-recipe-button:hover{
    background-color: rgb(173, 175, 12);

}