
.update-recipe-form{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    background-color: aquamarine;
}
.update-recipe-title{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.update-recipe-input{
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.update-recipe-textarea{
    border: none;
    resize: none;
    height: 140px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.update-recipe-nutrition{
    display: flex;
    flex-direction: column;
    background-color: rgb(28, 203, 145);
    border-radius: 10px;
    padding:10px;
}
.update-recipe-button{
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgb(187, 184, 0);
}
.update-recipe-button:hover{
    background-color: rgb(117, 119, 7);

}